* {
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}

body {
  background-color:   #c766ff;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  background-color: white;
  padding-bottom: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #8ec127;
}

h1, h2, h3 {
  font-family: georgia;
}

h1 {
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

h3 {
  font-weight: normal;
  padding-bottom: 2px;
}

.source {
  border-bottom: solid 5px #E8E8E8;
  padding-bottom: 20px;
  text-align: center;
}

.left-column {
  margin-top: 35px;
}

#reveal-recipes {
  padding: 10px;
  background-color: #8ec127;
  color: white;
}

#less-recipes {
  padding: 10px;
  background-color: #8ec127;
  color: white;
}
